/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .timeline{
    width:100%;
  }

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
li.nav-item {
    margin: 0px;
    padding: 0;
}

.navbar-toggler {
    border: 1px solid silver;
    font-size: 23px;
}

.navbar-toggler-icons i {
    color: #fff;
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top i {
    color: rgb(89, 87, 87);
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top .navbar-nav .nav-item {
    margin-left: 0px;
}

.timeline{
    width:100%;
  }

}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
/* nav bar css */
.navbar-dark .navbar-nav {
    margin-left: auto;
}

li.nav-item {
    margin: 0px;
    padding: 0;
}

.navbar-toggler {
    border: 1px solid silver;
    font-size: 23px;
}

.navbar-toggler-icons i {
    color: #fff;
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top i {
    color: rgb(89, 87, 87);
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top .navbar-nav .nav-item {
    margin-left: 0px;
}


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
/* nav bar css */
.navbar-dark .navbar-nav {
    margin-left: auto;
}

li.nav-item {
    margin: 0px;
    padding: 0;
}

.navbar-toggler {
    border: 1px solid silver;
    font-size: 23px;
}

.navbar-toggler-icons i {
    color: #fff;
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top i {
    color: rgb(89, 87, 87);
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top .navbar-nav .nav-item {
    margin-left: 0px;
}
/* banner area css */
.banner-arrow.wow.infinite.bounce.animated {
    margin-top: 60px;
}

.logo-area img {
	max-width: 150px;
	height: auto;
}

.banner-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #c5cad8;
}

.banner-type-writter h3 {
    font-size: 30px;
}

.banner-type-writter .sub {
    color: #fff;
    font-size: 20px;
}

.banner-type-writter {
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 30px;
}

.banner-arrow.wow.infinite.bounce.animated {
    margin-top: 0px;
}

.banner-image {
    margin-top: -50px;
}

.banner-area {
    position: relative;
    background-image: url('../img/fook2.jpg');
    height: 640px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    width: 100%;
}
/* about css */
.social-margin {
	margin-top: 30px;
}

.about-left {
    margin-bottom: 30px;
}

.about-right h4 {
    text-align: center;
}

.social-media span i {
	margin-bottom: 10px;
}

.item.text-white.text-center p {
	font-size: 20px;
}

/*timeline css*/
.timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }

}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.logo-area img {
	max-width: 100%;
	height: auto;
}
/* navbar css */	
.navbar-dark .navbar-nav {
    margin-left: auto;
}

li.nav-item {
    margin: 0px;
    padding: 0;
}


.navbar-toggler {
    border: 1px solid silver;
    font-size: 23px;
}

.navbar-toggler-icons i {
    color: #fff;
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top i {
    color: rgb(89, 87, 87);
}

.navbar.navbar-expand-lg.menu-area.navbar-fixed-top .navbar-nav .nav-item {
    margin-left: 0px;
}

/*banner area css */

 
}


